
    .poster{
        margin-top: 150%;
    }
  .container {
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 10% 70%;
    grid-column-gap: 10%;
    grid-row-gap: 5%;
  }